h<%=render "shared/navbar"%>

<h2 class="mb-4" style="text-align:center"><%=current_user.name%>'s Booking History</h2>
<div class="container-sm mt-4 centered">
  <div class="row">
    <div class="col-2"><h5 style="color:black">Pokemon</h5></div>
    <div class="col-2"> <h5 style="color:black">Reservation Dates</h5></div>
    <div class="col-2"> <h5 style="color:black">Reservation Status</h5></div>
    <div class="col-2"> <h5 style="color:black">Booking Total</h5></div>
    <div class="col-2"> <h5 style="color:black">Reservation Created</h5></div>
    <div class="col-2"> <h5 style="color:black">Edit</h5></div>

  </div>
  <div>
    <%@bookings.each do |booking|%>
      <div class="row border my-booking">
        <div class="col-2 border">
          <%=cl_image_tag(booking.pokemon.photo.key,height:75,width:100)%>
          <span> <strong><%=booking.pokemon.name%></strong></span>
        </div>
        <div class="col-2 border">
          <%="#{booking.start_date} - #{booking.end_date} "%>
        </div>
          <div class="col-2 border">
          <%if booking.booking_status%>
            <%=booking.booking_status.titleize%>
          <%else%>
            <p>AWAITING COMFIRMATION</p>
          <%end%>
        </div>
        <div class="col-2 border">
          $<%=booking.total%>
        </div>
        <div class="col-2 border">
          <%=booking.created_at%>
        </div>
        <div class="col-2 border">
         <%=link_to "âœï¸", edit_booking_path(booking)%> |
         <%=link_to "ðŸ—‘ï¸", cancel_booking_path(booking), data:{turbo_method: :delete} %>
        </div>
      </div>
    <%end%>
  </div>
</div>

<br>
<h2 style="text-align:center;color:black">Bookings For Approval</h2>

<div class="container">
  <table class="table">
    <thead>
      <tr class="centered">
        <th scope="col">Reservation Created</th>
        <th scope="col">Pokemon</th>
        <th scope="col">Reservation Dates</th>
        <th scope="col">Booking Total</th>
        <th scope="col">Requestor Name</th>
        <th scope="col">Approve / Deny</th>
      </tr>
    </thead>
    <tbody>
      <%@booking_request.each do |request|%>
        <tr>
          <th class="table-light" scope="row"><%=request.created_at%></th>
          <td class="table-light"><%=cl_image_tag(request.pokemon.photo.key,height:75,width:100)%></td>
          <td class="table-light"><%="#{request.start_date} - #{request.end_date}"%></td>
          <td class="table-light">$<%=request.total%></td>
          <td class="table-light"><%=request.user.name%></td>
          <td class="table-light">
            <%if request.booking_status == "approved"%>
              <p>Approved</p>
            <%elsif request.booking_status == "rejected"%>
              <p>Rejected</p>
            <%else%>
              <%=link_to "Approve",approval_bookings_path(request,params: {booking_id:request,booking_update:"approve"}),data:{turbo_method: :patch}%> |
              <%=link_to "Reject",approval_bookings_path(request,params: {booking_id:request,booking_update:"reject"}),data:{turbo_method: :patch}%>
            <%end%>
          </td>
        </tr>
      <%end%>

    </tbody>
  </table>
</div>
