<%=render "shared/navbar"%>

<div class="container" >
  <h1>Confirmation Reservation- <%= current_user.name%> </h1>
  <div>
    <%= simple_form_for([@pokemon,@booking]) do |b|%>
      <%# <%= b.input :email %>
      <%= b.input :start_date %>
      <%= b.input :end_date %>
      <%= b.submit value="Reserve", class:"btn btn-primary" %>
      <%= link_to "Cancel",pokemon_path(@pokemon), class:"btn btn-primary"%>
    <% end %>
  </div>
</div>
