<%=render "shared/navbar"%>

<div class="container" >
  <h1>Confirmation Reservation </h1>
  <h2 class = "header">Hi <%= current_user.name%>! Please make your reservation below! </h2>
  <h2 class = "header"> Email: <%= current_user.email%> </h2>
  <div class= "form">
   <%= simple_form_for([@pokemon,@booking]) do |b|%>
     <%= b.input :start_date, html5: true %>
     <%= b.input :end_date, html5: true %>
     <%= b.submit value="Reserve", class:"btn btn-danger new" %>
     <%= link_to "Cancel",pokemon_path(@pokemon), class:"btn btn-danger new"%>
   <% end %>
 </div>

<%= image_tag("pikachu.gif", class: "image") %>
</div>
