<%# First row (logo, name, search button, profile button) %>
<%# Changes that need to be made *** make codemon stick to the logo, space the profile part out to the right *** %>
<%=render "shared/navbar"%>
<div class="container mt-4" data-controller="filter banners" >
  <div class="row border filter mb-4">
    <div class="col p-2 d-flex justify-content-center clickable"
      title="Most Rare Pokemon"
      data-action="click->filter#rarity"
      data-filter-target="rarity">
      <%=image_tag("rarity.png")%>
    </div>
    <div class="col p-2 d-flex justify-content-center clickable"
      title="Top Pokemon types!"
      data-action="click->filter#top"
      data-filter-target="top">
      <%=image_tag("toptype.png")%>
    </div>
    <div class="col p-2 d-flex justify-content-center clickable"
      title="Pokemon sizes 10 and up!"
      data-action="click->filter#large"
      data-filter-target="large">
      <%=image_tag("largest.png")%>
    </div>
    <div class="col p-2 d-flex justify-content-center clickable"
      title="Pokemon under $300!"
      data-action="click->filter#budget"
      data-filter-target="budget">
      <%=image_tag("budget.png")%>
    </div>
    <div class="col p-2 d-flex justify-content-center">
      <%=image_tag("filter2.png")%>
    </div>
  <div class="row">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a Pokemon"
        %>
      <%= submit_tag "Search", name: "", class: "btn" %>
    <% end %>
  </div>
</div>

  <br>

  <div class="row justify-content-center">

  </div>



  <div class="row"  data-filter-target=card data-banners-target=card>
    <%@pokemons.each do |pokemon|%>
      <%if pokemon.status != "pending"%>
        <div class="col-lg-3 ">
          <%=render "/shared/card" ,
          name:pokemon.name.titleize,
          rare:pokemon.rarity,
          price:pokemon.price,
          id:pokemon.id,
          photo:pokemon.photo.key,
          type:pokemon.pokemon_type.titleize,
          size:pokemon.size,
          pokemon:pokemon,
          current_user:current_user,
          targetName:"cardbanner",
          targetName:"cardtype"%>
        </div>
      <%end%>
    <%end%>
  </div>

</div>
