<%=render "shared/navbar"%>

<h1 class="mb-4" style="text-align:center"><%=current_user.name%>'s Bookings</h1>
<div class="container-sm mt-4 centered">
  <div class="row">
    <div class="col-3"><h2>Pokemon</h2></div>
    <div class="col-3"> <h2>Reservation Dates</h2></div>
    <div class="col-3"> <h2>Reservation Status</h2></div>
    <div class="col-3"> <h2>Reservation Created</h2></div>
  </div>
  <div>
    <%@my_bookings.each do |booking|%>
      <div class="row border my-booking">
        <div class="col-3 border">
          <%=cl_image_tag(booking.pokemon.photo.key,height:75,width:100)%>
          <span> <strong><%=booking.pokemon.name%></strong></span>
        </div>
        <div class="col-3 border">
          <%="#{booking.start_date} - #{booking.end_date} "%>
        </div>
          <div class="col-3 border">
          <%if booking.booking_status%>
            <%=booking.booking_status%>
          <%else%>
            <p>AWAITING COMFIRMATION</p>
          <%end%>
        </div>
        <div class="col-3 border">
          <%=booking.created_at%>
        </div>
      </div>
    <%end%>
  </div>
</div>
