<%=render "shared/navbar"%>
<div class="container">
  <div class="container ">
    <div class="row">
      <div class="col-8 newpokemon-form">
         <h1>List a new Pokemon</h1>
        <%= simple_form_for @pokemon do |f| %>
          <%= f.input :name %>
          <%= f.input :pokemon_type %>
          <%= f.input :rarity,collection:Pokemon::RARITY %>
          <%= f.input :description %>
          <%= f.input :size %>
          <%= f.input :price %>
          <%= f.submit "Create", class: "btn btn-danger justify-content-center" %>
        <% end %>
      </div>
    </div>
  <div id="sgif" class="col-4 mt-5">
     <%=image_tag("squirtle.gif")%>
  </div>


  </div>
</div>
