<%# Navbar%>
<%=render "shared/navbar"%>

<div class="container text-center">

  <%# Pokemon name %>
  <div style="color: #F5F3F7;"><h1><strong><%=@pokemon.name.capitalize%></strong></h1></div>

  <%# Pokemon Picture %>
  <div class="row">
    <div class="col" style="border: 1px solid black; padding: 0px; margin: 10px; height: 325px; width: 540px;">
      <div style="background-color: #F5F3F7; height: 100%; display: flex; align-items: center; justify-content: center;">
        <%= cl_image_tag(@pokemon.photo.key, width: 350, height: 300, crop: :fill) %>
        <p class="test">Owned by: <%= @pokemon.user.name %></p>
      </div>
    </div>

     <%# Reservation card (prices, dates, reviews, reserve button) %>
    <div class="reservation-card col-5">
      <div class="row">

      <%# Reserve now %>
      <h4><strong>R E S E R V E</strong></h4>
      <h4><strong>N O W </strong></h4>

        <%# Cost per day %>
        <div class="col" style="margin: 20px; text-align: left;">
          $<%=@pokemon.price%> per day
        </div>

        <%# Reviews %>
      <div class="col" style="margin: 20px; text-align: right;">
        <%= "⭐️" * (rand(3) + 3) %> reviews
      </div>

      <%# Smaller pokemon picture %>
      <div class="row">
        <div class="smaller-image col">
          <div>
            <%= image_tag("wallpaper3.jpg", width: 125, height: 100, crop: :fill) %>
          </div>
        </div>
      </div>

      <%# Battle now button %>
      <div class="row">
        <div class="col" style="padding-top: 10px; margin: 10px;">
          <%if user_signed_in?%>
            <%if @pokemon.user_id == current_user.id%>
              <strong><%=link_to "O w n e d", new_pokemon_booking_path(@pokemon),class:"btn btn-battle disabled"%></strong>
            <%else%>
              <strong><%=link_to "B A T T L E", new_pokemon_booking_path(@pokemon),class:"btn btn-battle"%></strong>
            <%end%>
          <%else%>
            <strong><%=link_to "B A T T L E", new_pokemon_booking_path(@pokemon),class:"btn btn-battle"%></strong>
          <%end%>

        </div>
      </div>

      <%# You won't be charged yet %>
      <div class="row">
        <div class="col" style="padding-bottom: 40px; font-size: 14px;  ">
          <i>You won't be charged yet</i>
        </div>
      </div>

    <%# Price x days %>
      <div class="row">
        <div class="col">
          <u>price x days</u> $<%=@pokemon.price%>
        </div>
      </div>

      <%# Service fee %>
      <div class="row">
        <div class="col">
          <u>Codemon service fee</u> $<%=service=rand(50..100)%>.00
        </div>
      </div>

      <%# Total before taxes %>
      <div class="row">
        <div class="col" style="padding-top: 25px; margin: 10px;">
          <b>Total before taxes: $<%=@pokemon.price+service%></b>
        </div>
      </div>
    </div>
  </div>

  <%# Pokemon description %>
  <div class="container">
    <div class="row">
      <div class="description">
        <h4><strong>D E S C R I P T I O N</strong></h4>
        <%=@pokemon.description%>
      </div>
    </div>
  </div>

  <%# Pokemon stats  %>
  <div class="container" data-controller = "pokemon-stats">
    <div class="row">
      <div class="description stats">
        <h4><strong>S T A T I S T I C S</strong></h4>
        <p class="courtesy">courtesy of Pokeapi.co</p>
        <ol>
          <li> <strong class="words">N A M E</strong><div data-pokemon-stats-target="name"><%=@pokemon.name%></div></li>
          <li> <strong class="words">T Y P E</strong> <div> <%= @pokemon.pokemon_type %></div></li>
          <li> <strong class="words">R A R I T Y</strong> <div><%= @pokemon.rarity %></div></li>
          <li> <strong class="words">S I Z E</strong> <div><%= @pokemon.size%></div></li>
          <li> <strong class="words">W E I G H T</strong><div class="weight" data-pokemon-stats-target="weight"> </div></li>
          <li> <strong class="words">A B I L I T I E S</strong><div data-pokemon-stats-target="abilities"> </div> </li>
          <li> <strong class="words">M O V E S</strong><div data-pokemon-stats-target="moves"></div></li>
        </ol>
      </div>
    </div>
  </div>
</div>
